<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pizza Delivery</title>

    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Sketch">
  </head>

  <body>
    <%= yield %>
    <% api_source = "https://maps.googleapis.com/maps/api/js?key=#{ENV.fetch('GOOGLE_MAPS_API')}&libraries=places" %>
    <script type="text/javascript" src=<%= api_source %>></script>
  </body>
</html>
